.card-enter {
  opacity: 0;
  transform: translateX(100%) translateY(100%);
}
.card-enter-active {
  opacity: 1;
  transform: translateX(0) translateY(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
.card-exit {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
.card-exit-active {
  opacity: 0;
  transform: translateX(-100%) translateY(-100%);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}